[user]
    email = lucas.colley8@gmail.com
    name = Lucas Colley
    signingkey = 32B0B617B86C9CB7

[alias]
    s = switch
    sub = submodule update --init
    sc = switch -c
    pum = pull upstream main
    pom = push origin main --no-verify
    cm = commit -m
    puo = push -u origin
    fa = fetch --all
    ca = commit --amend
    b = branch

[credential "https://github.com"]
    helper =
    helper = !/~/.pixi/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper =
    helper = !/~/.pixi/bin/gh auth git-credential
[commit]
    gpgsign = true
[tag]
    gpgSign = true

[core]
    excludesfile = /~/.gitignore
    editor = micro

[ghq "https://github.com/scipy/scipy/"]
root = ~/ghq/github.com/rgommers/pixi-dev-scipystack/scipy/

[ghq "https://github.com/numpy/numpy/"]
root = ~/ghq/github.com/rgommers/pixi-dev-scipystack/numpy/

[ghq "https://github.com/mesonbuild/meson/"]
root = ~/ghq/github.com/rgommers/pixi-dev-scipystack/meson/

[ghq "https://github.com/scikit-learn/scikit-learn"]
root = ~/ghq/github.com/glemaitre/scikit-learn-workspace/src/scikit-learn/
